@font-face {
  font-family: "iran";
  src: url(../fonts/iran.ttf)}
* {
  direction: rtl;
  box-sizing: border-box;
  font-family: "iran",sans-serif;
}
body{
  font-size: 100%;
  width: 100%;
}
a{
    text-decoration: none;
}