
*{
	@import url('https://v1.fontapi.ir/css/Yekan');
    direction: rtl;
	font-family: Yekan, sans-serif;
    box-sizing: border-box;
	
}
body{
	font-family: 'Yekan';
    font-size: 100%;
}
a{
    text-decoration: none;
}