/* Webfont: Yekan */
@font-face {
	font-family: 'Yekan';
	src:	url('Yekan.eot'); 
	src:	url('Yekan.woff2') format('woff2'), 
			url('Yekan.woff') format('woff'), 
			url('Yekan.otf') format('opentype'), 	
			url('Yekan.ttf') format('truetype'); 
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}
